@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]::-webkit-calendar-picker-indicator {
  color-scheme: dark;
  width: 20px;
  height: 20px;
} 

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(144deg,
      rgb(18, 15, 29) 0%,
      rgba(32, 28, 74, 1) 100%), no-repeat;
  font-family: "Space Grotesk", sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #120f1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFB400;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 20px;
  background: #ffb300c6;
}